<div class="text-center"><%= image_tag @screenshot.photo %></div>

<%= link_to "next", index_chart_url, class: "hidden link-to-next-page" %>

<script type="text/javascript" charset="utf-8">
  window.setTimeout(function(){
    window.location.href = $( ".link-to-next-page" ).attr("href");
  },3000);
</script>
