<% if @photo_name == "" %>
  No screenshot available at the moment.
<% else %>
  <div class="text-center"><%= image_tag @photo_name %></div>
<% end %>


<%= link_to "next", index_chart_url, class: "hidden link-to-next-page" %>

<script type="text/javascript" charset="utf-8">
  window.setTimeout(function(){
    window.location.href = $( ".link-to-next-page" ).attr("href");
  },20000);
</script>
