<% @challenge_categories.keys.sort.each do |category| %>
  <h2><%= category %></h2>
  <% for challenge in @challenge_categories[category] %>
    <% if @challenge_ids_solved_by_team.include? challenge.id %>
      <p><%= link_to challenge.name, challenge, class: "btn btn-primary", disabled: "disabled" %></p>
    <% else %>
      <p><%= link_to challenge.name, challenge, class: "btn btn-primary" %></p>
    <% end %>
  <% end %>
<% end %>
