<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading">Your dashboard</div>
  <div class="panel-body">
    <p class="text-info">Note: Solved challenges will be marked as disabled.</p>
  </div>

  <!-- Table -->
  <table class="table table-bordered">
    <tr>
      <th><h3>Category</h3></th>
      <th><h3>Challenges</h3></th>
    </tr>
    
    <% @challenge_categories.keys.sort.each do |category| %>
      <tr>
        <td><%= category %></td>
        <td>
          <% for challenge in @challenge_categories[category] %>
            <% if @challenge_ids_solved_by_team.include? challenge.id %>
              <%= link_to challenge.name, challenge, class: "btn btn-primary", disabled: "disabled" %>
            <% else %>
              <%= link_to challenge.name, challenge, class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    
  </table>
  
  <div class="panel-footer">F-Secure (Turn on #freedome)</div>
</div>

