if (<%= @challenge_answered_correctly %>) {
  $("div#answer_submit").hide();
  var success_msg = "<p class=\"answer-success\">Correct! You earned " + <%= @challenge.point %> + " points!</p>";
  $("div#answer_result").html(success_msg);
  $("div#answer_result").removeClass("hidden");
  $( "div#team_current_score" ).html("Team's score: " + <%= @team.current_score %>);
  // $( "div#team_current_score" ).effect('highlight');
} else {
  var failure_msg = "<p class=\"answer-fail\">Incorrect answer! Please try again!</p>";
  $("div#answer_result").html(failure_msg);
  $("div#answer_result").removeClass("hidden");
}
